<div class="main">
    <div class="main__container">
        <div class="school">
            <h2>Главное о школе</h2>
            <div class="school__info">
                <p class="school__info__text">Наша цель — помочь ребёнку стать <span>автором своей жизни</span></p>
                <p class="school__info__text">Мы стремимся к тому, чтобы к концу обучения выпускник мог осознанно выбрать, чем ему заниматься дальше.</p>
            </div>
            <div class="school__cards js-hidden-scroll">
                <div class="school__cards__wrapper">
                    <div class="schoolCard schoolCard--1">
                        <div class="schoolCard__content">
                            <svg class="schoolCard__img schoolCard__img--1">
                                <use xlink:href="../../assets/img/sprites/sprite__main.svg#school1"></use>
                            </svg>
                            <div class="schoolCard__text">Обучение <br>с 0 по 11 класс</div>
                        </div>
                    </div>
                    <div class="schoolCard schoolCard--2">
                        <div class="schoolCard__content">
                            <svg class="schoolCard__img schoolCard__img--2">
                                <use xlink:href="../../assets/img/sprites/sprite__main.svg#school2"></use>
                            </svg>
                            <div class="schoolCard__text">Полный день <br>09:00-18:00</div>
                        </div>
                    </div>
                    <div class="schoolCard schoolCard--3">
                        <div class="schoolCard__content">
                            <svg class="schoolCard__img schoolCard__img--3">
                                <use xlink:href="../../assets/img/sprites/sprite__main.svg#school3"></use>
                            </svg>
                            <div class="schoolCard__text">Современное <br>оснащение школы</div>
                        </div>
                    </div>
                    <div class="schoolCard schoolCard--4">
                        <div class="schoolCard__content">
                            <svg class="schoolCard__img schoolCard__img--4">
                                <use xlink:href="../../assets/img/sprites/sprite__main.svg#school4"></use>
                            </svg>
                            <div class="schoolCard__text">5-ти этапный <br>отбор преподавателей</div>
                        </div>
                    </div>
                    <div class="schoolCard schoolCard--5">
                        <div class="schoolCard__content">
                            <svg class="schoolCard__img schoolCard__img--5">
                                <use xlink:href="../../assets/img/sprites/sprite__main.svg#school5"></use>
                            </svg>
                            <div class="schoolCard__text">Баланс <br>между результатами <br>и бережным отношением</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="school__btn">
                <a href="#">Узнать больше</a>
            </div>
        </div>
    </div>     
</div>          